In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [9]:
pd.__version__

'1.4.3'

In [10]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [11]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [12]:
df.tpep_pickup_datetime  = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [2]:
#create postgres conection
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect() #to test the connection

In [18]:
#pd.io.sql.get_schema generates the schema of a table.
#but not recognize datetime objects. We need to convert them using i.e: df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [27]:
#chunksize=10000 will insert into the DB into smaller batches
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [28]:
#Get the next element in the iterator
df =next(df_iter)

In [29]:
len(df)

100000

In [30]:
df.tpep_pickup_datetime  = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df

In [31]:
#n=0 takes only the header of the table and it's to create it in the DB before insert data
#if we do df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace') it will insert all records 
#as we want just create the table we use:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [32]:
#Now we insert the first 10000 record.
#%time tell us how much time it took run insert the records
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 3.4 s, sys: 101 ms, total: 3.5 s
Wall time: 30.4 s

1000

In [34]:
#We insert the rest of the data
while True:

    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime  = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunck..., took %.3f second' %(t_end - t_start)) #%.3f indicates that the value is a float with 3 decimal places

inserted another chunck..., took 30.262 second
inserted another chunck..., took 31.368 second
inserted another chunck..., took 32.853 second
inserted another chunck..., took 32.036 second
inserted another chunck..., took 31.971 second
inserted another chunck..., took 30.829 second
inserted another chunck..., took 30.405 second
inserted another chunck..., took 32.069 second
inserted another chunck..., took 32.958 second
inserted another chunck..., took 30.510 second
inserted another chunck..., took 31.795 second

/var/folders/m6/wknnzqnj72l0m_y7ylm037n40000gn/T/ipykernel_20808/3500416092.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunck..., took 29.818 second
inserted another chunck..., took 19.806 second

StopIteration:

In [1]:
#now we donwload the file zones
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2023-01-22 07:07:33--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230122T060744Z&X-Amz-Expires=300&X-Amz-Signature=ce462eef19f668991de59f9a311003d164b4e072c5b84829f60e25cbcbcbc3f0&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2023-01-22 07:07:44--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230122T060744Z&X-Amz-Expires=300&X-Amz-Signature=ce462eef19f668991de59f9a311003d164b4e072c5b84829f60e25cbcbcbc3f0&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0.01s

2023-01-22 07:07:45 (828 KB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [7]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [8]:
print(pd.io.sql.get_schema(df_zones, name='taxi_zone_lookup'))

CREATE TABLE "taxi_zone_lookup" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [9]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [ ]:
#create postgres conection
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect() #to test the connection

In [14]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [3]:
file_name = '/Users/usuario/Downloads/green_tripdata_2019-01.csv'
df = pd.read_csv(file_name, nrows=100)

In [9]:
#pd.io.sql.get_schema generates the schema of a table.
#but not recognize datetime objects. We need to convert them using i.e: df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
print(pd.io.sql.get_schema(df, name='green_tripdata', con = engine))

CREATE TABLE green_tripdata (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [6]:
# iterating the columns

for col in df.columns:
    print(col)
    if 'datetime' in col:
        print(f'{col} is a datetime object')

VendorID
lpep_pickup_datetime
lpep_pickup_datetime is a datetime object
lpep_dropoff_datetime
lpep_dropoff_datetime is a datetime object
store_and_fwd_flag
RatecodeID
PULocationID
DOLocationID
passenger_count
trip_distance
fare_amount
extra
mta_tax
tip_amount
tolls_amount
ehail_fee
improvement_surcharge
total_amount
payment_type
trip_type
congestion_surcharge

In [8]:
for col in df.columns:
        if 'datetime' in col:
            df[col]  = pd.to_datetime(df[col])